
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*html {
	width: 100%;
	height: 100%;
	background-color: #394264;
}*/

body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	/*background-color: #1F253D;*/
	background-color: black;
	text-align: center;
	padding-bottom: 50px;
}

a {
	text-decoration: none;
	color: black;
}

ul li {
	display: inline;
}

/*---------------------------------------------------------------------------------
   Header Styles
---------------------------------------------------------------------------------*/

nav {
	position: relative;
	width: 100%;
	height: 10%;
	padding: 1em;
}

nav * {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.1em;
}

nav .intro {
	float: left;
}

nav .accuracy {
	float: right;
}

nav a {

	color: #fff;
}

header h1 {
	font-weight: 900;
	font-size: 3em;
	padding: 0.8em;
	color: transparent;;
	text-shadow: inset 0 0 8px #FFDD1B, inset 0 0 6px #FFDD1B, inset 0 0 4px #fff, inset 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #FFDD1B, 0 0 8px #FFDD1B;

}



.content {
	color: #fff;
	background: black;
	position: relative;
	height: auto;
	width: 600px;

	top: 15%;
	margin: auto auto;
	border-top: 2px solid #228DFF;
	border-bottom: 2px solid #228DFF;
	padding-top: 20px;
	padding-bottom: 10px;
}
.content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	color: #fff;
	opacity: 1;
	background-color: black;
	border-radius: 3px 3px 0 0;
}
.content h3 {

	-webkit-animation: neon 3s ease-in-out infinite alternate;
	-moz-animation: neon 3s ease-in-out infinite alternate;
	animation: neon 3s ease-in-out infinite alternate;
}
@-webkit-keyframes neon {
  from {
		/*color: #fff;*/
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
		/*color: #228DFF;*/
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
@-moz-keyframes neon {
  from {
		/*color: #fff;*/
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
		/*color: #fff;*/
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
@keyframes neon2 {
  from {
		/*color: #fff;*/
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
		/*color: #228DFF;*/
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

.content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.content > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}


.content > div a {
	font-size: 1.5em;
	color: #fff;
	padding: 0.5em 2em;
	border-radius: 6px;
	margin-top: 10px;
	display: block;
	border: 1px solid #FFDD1B;
}
.content > div a:hover {
	border: 1px solid #fff;
  color: #FFDD1B;
	box-shadow: inset 0 0 20px #FFDD1B, inset 0 0 15px #FFDD1B, inset 0 0 10px #fff, inset 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FFDD1B, 0 0 20px #FFDD1B;

}

/*---------------------------------------------------------------------------------
   Game Section Styles
---------------------------------------------------------------------------------*/

.game {
	position: relative;
	/*background-color: #394264;*/
	width: 700px;
	/*height: 380px;*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0 auto;
	padding-bottom: 50px;
	text-align: left;
	order: 1px solid #fff;
	box-shadow: inset 0 0 20px #FFDD1B, inset 0 0 15px #FFDD1B, inset 0 0 10px #fff, inset 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FFDD1B, 0 0 20px #FFDD1B;



}

h2 {
	margin: 0 auto;

	padding: 1em 40px;
	font-size: 1.5em;
	font-weight: 400;
	display: block;
	line-height: 1em;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #fff;
}

.game p {
	margin-top: 0.5em;
	font-size: 1.8em;
	padding-bottom: 0.5em;
}

form {
	padding: 40px;
}
form div {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
}
form .checkbox-wrapper:hover {
	/*background-color: #228DFF;*/
	border-bottom: 1px solid #228DFF;
}
form label, form span {
	margin-top: 1em;
	margin-left: 1em;
	/*padding: 1em 0.4em;*/
	font-size: 1.5em;
	font-weight: 400;
	display: inline;
	line-height: 2em;

	color: #fff;
}
form img {
	height: 300px;
  margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block
	/*background-color: yellow;*/
}
/*style for hidden modal*/
.introduction, .conclusion{
	width: 100%;
	height: 100%;
	color: #fff;
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	/*display: none;*/
}
input {
	width: 25px;
	height: 25px;
	display: inline;
	/*padding: 0.8em 0;*/
	margin: 0.8em auto 0;
	background: #50597b;
	color: #fff;
	border: solid 1px #1f253d;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input.button {
	width: 50%;
	height: 10%;
	background: #1F253D;
	color: #95a5a6;
	font-size: 2em;
	padding: 0.2em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
}

input.button:hover {
	background: #e64c65;
	color: #fff;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
	cursor: pointer;
}


input:focus {
	outline: none !important;
}
.result-feedback {
	padding-left: 40px;
	padding-right: 40px;
	font-size: 0.7em;

}
